.title__logo{
    color: #FFFFFF;
}
.title__menu{
    color: #FFFFFF;
}

.Investment__header{
    height: 75vh;
    background-image: url("../Images/BitcoinInvestment.jpg");
    background-size: cover;
    background-position: center;
}
.sub__container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position:relative;
    top:10vh;
}
.subpagebox__1{
    width:30%;
    border-radius:20px;
    height: 35vh;
    padding:15px;
}
.subpagebox__2{
    width:30%;
    border-radius:20px;
    height: 35vh;
    padding:15px;
}
.subpagebox__3{
    width:30%;
    border-radius:20px;
    height: 35vh;
    padding:15px;
}
.subpagetitle__1{
    color:#FFFFFF;
    font-family: Sora;
    font-size:2.5em;
    padding:7px;
    position: relative;
    top: 24.5px;
}
.subpagetitle__2{
    color:#FFFFFF;
    font-family: Sora;
    font-size:2.5em;
    padding:7px;
    position: relative;
    top: 24.5px;
}
.subpagetitle__3{
    color:#FFFFFF;
    font-family: Sora;
    font-size:2.5em;
    padding:7px;
    position: relative;
    top: 24.5px;
}
.subpagetext__1{
    color:#FFFFFF;
    font-family: Sora;
    padding: 7px;
    position: relative;
    top: 20px;
}
.subpagetext__2{
    color:#FFFFFF;
    font-family: Sora;
    padding: 7px;
    position: relative;
    top: 20px;
}
.subpagetext__3{
    color:#FFFFFF;
    font-family: Sora;
    padding: 7px;
    position: relative;
    top: 20px;
}
.Investment__title{
    color:#FFFFFF;
    font-size: 6em;
    padding-left: 8rem;
    padding-top:30px;
}
.Investment__desc{
    color: #FFFFFF;
    padding-left: 8rem;
    padding-top: 20px;
    font-size: 1.5em;
    width:50%;
}
.Icons{
    color:white;
    transform: scale(5.0);
    padding-left: 7px;
    padding-top: 7px;
}
