.menu__items--div{
  height: 70px;
}

.menu__items--container{
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  left:45%;
  bottom:15px; 
}

.aboutme__div{
  background-color: #DCC4F5;
  padding: 2%;
  margin: 1.5%;
  margin-top: 2.5%;
  border-radius: 15px;
}

.aboutme__text{
  color: #5B10A8;
  font-size: 40px;
}

.profile__image{
  height: 150px;
  width:150px;
  border-radius:100%;
}

