.Row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}
.Row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}
.Row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}
.Rsrc__button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #dcc4f5;
  border: 0px;
}
.Resource__box {
  width: 30%;
  height: 90%;
  border-radius: 10px;
}
.Rsrc__topic {
  font-size: 2.5em;
  font-family: Sora;
  color: #5b10a8;
}
.Rsrc__title--type {
  font-size: 4em;
  text-align: center;
  color: #5b10a8;
  padding: 35px;
}
.Popup__text {
  font-size: 36px;
  color: #5b10a8;
}
.Popup__header{
  display: flex;
  flex-direction: row;
}
.Popup__box{
  width: 100%;
  height: 100%;
}
.Popup__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 15px;
}
.Resrc__type--title{
  margin-left: 25px;
  font-size: 30px;
  color: #5b10a8;
}
.Resrc__icon{
  margin-top: 10px;
  transform: scale(3.0);
}

