.form {
    position: relative;
}
.form-title {
    color: #5b10a8;
    font-family: Sora;
    margin-left: 20px;
    font-size: 50px;
    margin-top: 15px;
}
.form-tagline {
    color: #5b10a8;
    font-family: Sora;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}
.form-input {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
}
.register-button {
    position: absolute;
    margin: 10px;
    background-color: #5b10a8;
    color: white;
    height: 50px;
    width: 200px;
    top: 370px;
    left: 70px;
    border-radius: 50px;
}
