.Blog-row{
    display: flex;
    flex-direction: row;
}
.Blog__img{
    width: 90%;
    height: 50%;
}
.Blog__desc{
    width:90%;
    font-family: Sora;
    color: #5B10A8;
}
.Author__section{
    display: flex;
    flex-direction: row;
}
.Author__details{
    margin-left: 10px;
}
.Author__name{
    font-family: Sora;
    color: #5B10A8;
}
.Blog__date{
    font-family: Sora;
    color: #5B10A8;
}
.Blog__title{
    font-family: Sora;
    color: #5B10A8;
}
.Account__icon{
    color: #5B10A8;
}
.Bookmark__icon{
    color: #5B10A8;
}
.Comment__icon{
    color: #5B10A8;
}
.Search__area{
    background: linear-gradient(90.44deg, #5B10A8 0%, rgba(172, 118, 227, 0.171875) 94.07%, rgba(220, 196, 245, 0) 113.6%);
    height: 15vh;
}